{% render 'partials/head.liquid', title: 'Squad page' %}

<h2>Students</h2>
<a href="/haarcrisis">mensen met haarcrisis</a>
<ul class="people-list">
  {% for person in persons %}
    <li class="people-card" style="--favo-color:{{ person.fav_color }};">
      <a href="/student/{{ person.id }}">
        <h3 class="person-name">
          {{ person.github_handle }}
        </h3>
      </a>
      <p class="person-hp">
        hp <span>{{ person.shoe_size | default: 32 }}</span> <span>{{ person.vibe_emoji }}</span>
      </p>
      <img
        class="person-img"
        loading="lazy"
        {% if person.mugshot %}
          src="{{'https://fdnd.directus.app/assets/' | append:  person.mugshot | append:'?width=500' }}"
        {% else %}
          src="{{ person.avatar }}"
        {% endif %}
        alt=" {{ person.name }}"
      >

      <h4><span>Ability</span></h4>
      <p class="person-ability">
        Zolang team {{ person.team }} actief is, kan je tegenstander geen layout shift voorkomen. Wanneer
        {{ person.fav_feature }} wordt getriggerd, zet je een {{ person.fav_emoji }} op je tegenstander.
      </p>
      <h4>Moveset</h4>
      <p class="person-move">
        Kan {{ person.id }} damage doen door een {{ person.fav_attribute | escape }} op een
        {{ person.fav_tag | escape }}
        te zetten.
      </p>
      <p class="person-move">
        Kan {{ person.fav_border_radius | escape }} hp herstellen als het {{ person.fav_season }} is en er
        {{ person.fav_animal }} aanwezig is in {{ person.residency }}
      </p>
    </li>
  {% endfor %}
</ul>

{% render 'partials/foot.liquid', squads: squads %}
